<!--layout.html 是一个模板，这里继承这个模板-->
{% extends 'layout.html' %}

<!--覆写main这个block区块-->
{% block main%}
<ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li><span>文章管理</span></li>
</ol>
<h3>文章管理</h3>
<table class="table table-hover table-striped text-center">
    <tr>
        <th class="text-center">序号</th>
        <th class="text-center">文章title</th>
        <th class="text-center">文章分类</th>
        <th class="text-center">操作</th>
    </tr>
    {% for article in articles %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{article.title}}</td>
        <td>{{article.classification}}</td>
        <td>
            <a href="/admin/content/edit?id={{article.id}}">修改</a>
            <a href="/admin/content/delete?id={{article.id}}">删除</a>
        </td>
    </tr>
    {% endfor%}
</table>

{% include "page.html" %}


{% endblock%}