{% include "../head.html" %}
<div class="wrapper">
    <div class="container">
        <div class="content-wrap left">
            {% block main%}
            <div class="navcates">
                <i class="fa fa-home"></i>当前位置：<a href="/">首页</a> » <a
                    href="/qianduan">web前端</a>
            </div>
            {% endblock%}
            <!--<div class="ad">-->
            <!--<a href="http://s.click.taobao.com/pqo03Qx" target="_blank">-->
            <!--<img src="public/picture/201707061499321319382694.jpg" alt="阿里云爆款云服务器" title="阿里云爆款云服务器">-->
            <!--</a>-->
            <!--</div>-->

            <div class="content single-content">
                <header class="post-head">
                    <h2>
                        <a href="http://www.chenxingzhou.com/template?id={{templateData.id}}"
                           title="{{templateData.title}}">{{templateData.title}}</a>
                    </h2>
                    <div class="info left">
                        <span class="category">
                            <i class="fa fa-list-alt"></i>
                            <a href="/liuyan?id=10000">留言本</a>
                        </span>
                        <span class="date"><i class="fa fa-clock-o"></i>{{templateData.createtime | date('Y-m-d', -480, 'CCT')}}</span>
                        <span class="view"><i class="fa fa-eye"></i>浏览({{templateData.view}})</span>
                        <span class="comment"><i class="fa fa-comment"></i>{{templateData.source}}</span>

                    </div>
                </header>
                <div class="entry">
                    {{templateData.article|safe}}
                </div>
                <div class="tags">
                    标签：
                    <a href="#" class="keytags">分享</a>
                    <a href="#" class="keytags">前端</a>
                    <a href="#" class="keytags">java</a>
                    <a href="#" class="keytags">linux</a>
                    <a href="#" class="keytags">博客</a>
                    <a href="#" class="keytags">数据库</a>
                    <a href="#" class="keytags">随笔</a>
                </div>
                <div id="authorarea">
                    <div class="authorinfo">
                        <div class="author-avater">
                            <img class="avaterimg" src="public/picture/admintou.jpg" alt="作者：陈星州">
                        </div>
                        <div class="author-des">
                            <div class="author-meta">
                                <span class="post-author-name">
                                    <a href="http://www.chenxingzhou.xin">星火燎原</a>
                                </span>
                                <span class="post-author-tatus">
                                    <a href="javascript:;">{{data.articleSum.length}}篇文章</a>
                                </span>
                                <span class="post-author-url">
                                    <a href="http://www.chenxingzhou.xin">站点</a>
                                </span>
                                <span class="post-author-weibo">
                                    <a href="http://www.cnblogs.com/blogcxz/">博客园</a>
                                </span>
                            </div>
                            <p class="author-description">
                                不要让任何事情成为你不去学习、不去努力的借口。
                            </p>
                        </div>
                    </div>
                    <div class="bdshare">
                        <div class="bdsharebuttonbox bdshare-button-style1-24" data-bd-bind="1501589671838">
                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪"></a>
                            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                            <a href="#" class="bds_more" data-cmd="more"></a>
                        </div>

                    </div>
                </div>
                <div class="pre-next">
                    <div class="left">
                        上一篇
                        {% if prevdata %}
                        <a href="http://www.chenxingzhou.xin/template?id={{prevdata.id}}">{{prevdata.title}}</a>
                        {% else %}
                        <a href="#">没有上一篇了</a>
                        {% endif %}
                    </div>
                    <div class="right">
                        下一篇
                        {% if nextdate  %}
                        <a href="http://www.chenxingzhou.xin/template?id={{nextdate.id}}">{{nextdate.title}}</a>
                        {% else %}
                        <a href="#">没有下一篇了</a>
                        {% endif %}
                    </div>
                </div>
                <section id="comments">
                    <div class="comment-tab">
                        <div class="come-comt">
                            <i class="fa fa-comments"></i>
                            评论列表
                            {% if comment.length == 0 %}
                            <span id="comment_count">暂无评论</span>
                            {% else %}
                            <span id="comment_count">({{comment.length}})条评论</span>
                            {% endif %}
                        </div>
                    </div>
                    {% if comment.length > 0 %}
                    <labal id="AjaxCommentBegin"></labal>
                    {% for item in comment %}
                    <div class="msg noimg">
                        <div class="msgimg">
                            <img src="http://www.talklee.com/zb_users/avatar/0.png" alt="网友昵称：{{item.name}}" id="avatar">
                        </div>
                        <div class="msgtxt">
                            <div class="msgname">
                                <a href="#" class="commentName{{item.id}}">{{item.name}}</a>
                                <span class="LevelName aulevel6">游客</span>
                                <span>
                                        {{item.createtime | date('Y-m-d', -480, 'CCT')}}
                                        <a  href="javascript:;" onclick="huifu({{item.id}})">回复</a>
                                    </span>
                            </div>
                            <div class="msgarticle">
                                {{item.reply}}
                                <div class="commentpost form2 hide huifu{{item.id}}" id="comment">
                                    <h4>
                                        <i class="fa fa-pencil"></i>
                                        发表评论
                                    </h4>
                                    <form id="frmSumbit" target="_self">
                                        <div class="comt-box">
                                            <div class="form-group liuyan form-name">
                                                <input type="text" id="inpName" class="text" name="inpName" tabindex="1"  placeholder="名称（必填）">
                                            </div>
                                            <div class="form-group liuyan form-email">
                                                <input type="text" id="inpEmail" class="text" name="inpEmail" tabindex="2"  placeholder="email">
                                            </div>
                                            <div class="form-group liuyan form-www">
                                                <input type="text" id="inpHomePage" class="text" name="inpHomePage" tabindex="3" onfocus="this.value='http://';"  placeholder="网址">
                                            </div>
                                        </div>
                                        <textarea name="txaArticle" id="txaArticle" class="text input-block-level comt-area" cols="50" rows="5" tabindex="5"></textarea>
                                        <p>
                                            <input type="button" name="sumbit" tabindex="6" value="提交" class="button sumbit_btn">
                                        </p>
                                    </form>
                                </div>

                                {% if item.admin_reply %}
                                <div class="msg noimg mar50">
                                    <div class="msgtxt">
                                        <div class="msgname">
                                            <a href="http://chenxingzhou.xin">星火燎原</a>
                                            <span class="LevelName aulevel1">管理员</span>
                                            <span>{{item.updatetime | date('Y-m-d', -480, 'CCT')}}</span>
                                        </div>
                                        <div class="msgarticle">
                                            {{item.admin_reply}}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% endif %}

                    <div class="commentpost form1" id="comment">
                        <h4>
                            <i class="fa fa-pencil"></i>
                            发表评论
                        </h4>
                        <form id="frmSumbit" target="_self">
                            <div class="comt-box">
                                <div class="form-group liuyan form-name">
                                    <input type="text" id="inpName" class="text" name="inpName" tabindex="1"  placeholder="名称（必填）">
                                </div>
                                <div class="form-group liuyan form-email">
                                    <input type="text" id="inpEmail" class="text" name="inpEmail" tabindex="2"  placeholder="email">
                                </div>
                                <div class="form-group liuyan form-www">
                                    <input type="text" id="inpHomePage" class="text" name="inpHomePage" tabindex="3" onfocus="this.value='http://';"  placeholder="网址">
                                </div>
                            </div>
                            <textarea name="txaArticle" id="txaArticle" class="text input-block-level comt-area" cols="50" rows="5" tabindex="5"></textarea>
                            <p>
                                <input type="button" name="sumbit" tabindex="6" value="提交" class="button sumbit_btn">
                            </p>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        {% include "../aside.html" %}
    </div>
</div>
<script src="public/libs/ueditor/ueditor.parse.js"></script>
<script>
    uParse('.entry', {
        rootPath: '../'
    })
</script>
{% include "../footer.html" %}
