<aside class="sidebar right">
    <article class="sidebar-widget" id="shangxi">
        <h3><i class="fa fa-asterisk" aria-hidden="true"></i>赏析</h3>
        <div class="shangxi">
            <b>《过零丁洋·文天祥》</b>
            <p>辛苦遭逢起一经，干戈寥落四周星。</p>
            <p>山河破碎风飘絮，身世浮沉雨打萍。</p>
            <p>惶恐滩头说惶恐，零丁洋里叹零丁。</p>
            <p>人生自古谁无死？留取丹心照汗青。</p></div>
    </article>

    <article class="sidebar-widget" id="divStatistics">
        <span class="icon"><i class="fa fa-reorder"></i></span>
        <h3>站点信息</h3>
        <ul class="divStatistics">
            <li>作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;者 : 陈星州</li>
            <li>文章总数 : {{data.articleSum}}</li>
            <li>评论总数 : 758</li>
            <li>浏览总数 : {{data.commentSum}}</li>
            <li>标签总数 : 25</li>
        </ul>
    </article>
    <article class="sidebar-widget" id="newDate">
        <span class="icon"><i class="fa fa-reorder"></i></span>
        <h3>最新文章</h3>
        <ul class="widget_img">
            <li><a href="http://www.chenxingzhou.com/blog/104.html" title="Word2010工具栏消失怎么解决(图文教程) (2)"><img
                    src="public/picture/201601121452574882443657.jpg"
                    alt="Word2010工具栏消失怎么解决(图文教程)"
                    style="display: block;"><span>Word2010工具栏消失怎么解决(图文教程)</span></a>2016-01-12
            </li>
            <li><a href="http://www.chenxingzhou.com/blog/250.html" title="网站页面滚动加载动画JS特效（二） (2)"><img
                    src="public/picture/201706141497400651609637.jpg"
                    alt="网站页面滚动加载动画JS特效（二）" style="display: block;"><span>网站页面滚动加载动画JS特效（二）</span></a>2017-06-14
            </li>
            <li><a href="http://www.chenxingzhou.com/blog/221.html" title="笔记本重装Win7，进不U启的解决方法。 (2)"><img
                    src="public/picture/201703034223_9966.png"
                    alt="笔记本重装Win7，进不U启的解决方法。" style="display: block;"><span>笔记本重装Win7，进不U启的解决方法。</span></a>2017-03-03
            </li>
            <li><a href="http://www.chenxingzhou.com/blog/192.html" title="博客全站启用HTTPS (11)"><img
                    src="public/picture/201611082572_4219.jpg"
                    alt="博客全站启用HTTPS" style="display: block;"><span>博客全站启用HTTPS</span></a>2016-11-08
            </li>
            <li><a href="http://www.chenxingzhou.com/blog/242.html" title="做网站优化要多少钱？SEO优化怎么收费？ (1)"><img
                    src="public/picture/201704281493344399137802.jpg"
                    alt="做网站优化要多少钱？SEO优化怎么收费？" style="display: block;"><span>做网站优化要多少钱？SEO优化怎么收费？</span></a>2017-04-28
            </li>
    </article>

    <article class="sidebar-widget" id="widget_img">
        <span class="icon"><i class="fa fa-reorder"></i></span>
        <h3>热门文章</h3>
        <ul class="widget_img">
            <li><a href="http://www.chenxingzhou.com/blog/104.html" title="Word2010工具栏消失怎么解决(图文教程) (2)"><img
                    src="public/picture/201601121452574882443657.jpg"
                    alt="Word2010工具栏消失怎么解决(图文教程)"
                    style="display: block;"><span>Word2010工具栏消失怎么解决(图文教程)</span></a>2016-01-12
            </li>
            <li><a href="http://www.chenxingzhou.com/blog/250.html" title="网站页面滚动加载动画JS特效（二） (2)"><img
                    src="public/picture/201706141497400651609637.jpg"
                    alt="网站页面滚动加载动画JS特效（二）" style="display: block;"><span>网站页面滚动加载动画JS特效（二）</span></a>2017-06-14
            </li>
            <li><a href="http://www.chenxingzhou.com/blog/221.html" title="笔记本重装Win7，进不U启的解决方法。 (2)"><img
                    src="public/picture/201703034223_9966.png"
                    alt="笔记本重装Win7，进不U启的解决方法。" style="display: block;"><span>笔记本重装Win7，进不U启的解决方法。</span></a>2017-03-03
            </li>
            <li><a href="http://www.chenxingzhou.com/blog/192.html" title="博客全站启用HTTPS (11)"><img
                    src="public/picture/201611082572_4219.jpg"
                    alt="博客全站启用HTTPS" style="display: block;"><span>博客全站启用HTTPS</span></a>2016-11-08
            </li>
            <li><a href="http://www.chenxingzhou.com/blog/242.html" title="做网站优化要多少钱？SEO优化怎么收费？ (1)"><img
                    src="public/picture/201704281493344399137802.jpg"
                    alt="做网站优化要多少钱？SEO优化怎么收费？" style="display: block;"><span>做网站优化要多少钱？SEO优化怎么收费？</span></a>2017-04-28
            </li>
        </ul>
    </article>


    <article class="sidebar-widget" id="divCatalog">
        <span class="icon"><i class="fa fa-reorder"></i></span>
        <h3>网站分类</h3>
        <ul class="divCatalog">
            <li><a href="http://www.chenxingzhou.com/info/">IT技术</a></li>
            <li><a href="http://www.chenxingzhou.com/tech/">互联网</a></li>
            <li><a href="http://www.chenxingzhou.com/chenxingzhou/">数据库</a></li>
            <li><a href="http://www.chenxingzhou.com/zhuti/">留言</a></li>
        </ul>
    </article>
    <article class="sidebar-widget" id="divHottags">
        <span class="icon"><i class="fa fa-reorder"></i></span>
        <h3>热门标签</h3>
        <ul class="divHottags">
            <li><a href="http://www.chenxingzhou.com/tags-5.html" title="web前端">web前端</a></li>
            <li><a href="http://www.chenxingzhou.com/tags-9.html" title="java">java</a></li>
            <li><a href="http://www.chenxingzhou.com/tags-4.html" title="linux">linux</a></li>
            <li><a href="http://www.chenxingzhou.com/tags-20.html" title="mysql">mysql</a></li>
            <li><a href="http://www.chenxingzhou.com/tags-19.html" title="node">node</a></li>
            <li><a href="http://www.chenxingzhou.com/tags-19.html" title="node">python</a></li>
            <li><a href="http://www.chenxingzhou.com/tags-19.html" title="mongodb">mongodb</a></li>
            <li><a href="http://www.chenxingzhou.com/tags-15.html" title="站长">javascript</a></li>
            <li><a href="http://www.chenxingzhou.com/tags-8.html" title="数据">数据</a></li>
            <li><a href="http://www.chenxingzhou.com/tags-11.html" title="IT">IT</a></li>
            <li><a href="http://www.chenxingzhou.com/tags-18.html" title="建站">建站</a></li>
            <li><a href="http://www.chenxingzhou.com/tags-27.html" title="教程">教程</a></li>
            <li><a href="http://www.chenxingzhou.com/tags-1.html" title="学习">学习</a></li>
            <li><a href="http://www.chenxingzhou.com/tags-3.html" title="交流">交流</a></li>
            <li><a href="http://www.chenxingzhou.com/tags-21.html" title="互联网">互联网</a></li>

        </ul>
    </article>






    <!--广告赞助-->
    <!--<div class="movead">-->
    <!--<article class="sidebar-widget" id="movead">-->
    <!--<span class="icon"><i class="fa fa-reorder"></i></span>-->
    <!--<h3>广告赞助</h3>-->
    <!--<ul>-->
    <!--<li><a href="http://s.click.taobao.com/pqo03Qx" target="_blank"><img-->
    <!--src="public/picture/201707061499321087692507.jpg" alt="阿里云爆款云服务器" title="阿里云爆款云服务器"></a></li>-->
    <!--</ul>-->
    <!--</article>-->
    <!--</div>-->

</aside>