<footer class="footer">

    <!--友情链接-->
    <!--<div class="footer_link wrapper">-->
        <!--<ul>-->
            <!--<li style="margin-right: -10px;">-->
                <!--<a href="javascript:;" title="友情链接"><i class="fa fa-ge"></i>友情链接：</a>-->
            <!--</li>-->
            <!--<li><a href="http://www.yetiandong.com/" target="_blank" title="叶天冬博客">叶天冬博客</a></li>-->
            <!--<li><a href="http://oss.so/" target="_blank" title="生命不息，折腾不止，关注前端，关注Z-BlogPHP">橙色阳光</a></li>-->
            <!--<li><a href="http://www.tusay.net/" target="_blank" title="关注IT技术和学习分享,提供ZBlogPHP主题模板插件定制！">涂涂研版</a></li>-->
            <!--<li><a href="http://www.dingchunhua.name/" target="_blank" title="丁春华博客">丁春华</a></li>-->
            <!--<li><a href="http://www.myxzy.com/" target="_blank" title="电脑技术、软件教程、代码资料、网站技术、原创文章">星知苑</a></li>-->
            <!--<li><a href="http://huhen.com/" target="_blank" title="小虎博客">小虎博客</a></li>-->
            <!--<li><a href="http://www.gridsmedia.com/" target="_blank" title="网格传媒">网格传媒</a></li>-->
            <!--<li><a href="http://www.paipk.com/" target="_blank" title="拍拍看科技">拍拍看科技</a></li>-->
            <!--<li><a href="http://www.songhaifeng.com/" target="_blank" title="小锋博客">小锋博客</a></li>-->
            <!--<li><a href="https://zhangge.net/" target="_blank" title="张戈博客">张戈博客</a></li>-->
        <!--</ul>-->
    <!--</div>-->

    <div class="footer-line"></div>
    <div class="footer-bottom wrapper">
        <p>
            <i class="fa">chenxingzhou.xin</i>
            <a href="/">陈星州博客</a>
            </br>

            <a target="_blank" href="http://www.miitbeian.gov.cn/"
               style="padding-top: 6px;text-decoration:none;height: 20px;line-height:20px;">
                <img src="public/picture/icon-police.png" class="beian-ico">©2017 蜀ICP备17024126号
            </a>

            <script>
                (function () {
                    var bp = document.createElement('script');
                    var curProtocol = window.location.protocol.split(':')[0];
                    if (curProtocol === 'https') {
                        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                    }
                    else {
                        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                    }
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(bp, s);
                })();
            </script>
            <script>
                (function () {
                    var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?f88731ae93ae260bb9f060fcbd952500" : "https://jspassport.ssl.qhimg.com/11.0.1.js?f88731ae93ae260bb9f060fcbd952500";
                    document.write('<script src="' + src + '" id="sozz"><\/script>');
                })();
            </script>
        </p>
    </div>
    <div id="backTop" style="display: none;">
        <a href="javascript:scroll(0,0)" class="backtotop" title="返回顶部"><i class="icon-arrow-up"></i></a>
    </div>
</footer>
<div class="none">
    <script>
        var swiper = new Swiper('.swiper-home', {
            pagination: '.swiper-home-pagination',
            nextButton: '.swiper-home-button-next',
            prevButton: '.swiper-home-button-prev',
            paginationClickable: true,
            centeredSlides: true,
            autoplay: 5000,
            autoplayDisableOnInteraction: false,
            lazyLoading: true,
            mousewheelControl: false,
            keyboardControl: true,
            loop: true
        });
    </script>

</div>
</body>
</html>