{% include "head.html" %}
<div class="wrapper">
    <div class="container container-home">
        <div class="content-wrap left">
            <div class="slide-main">
                <div class="swiper-container swiper-home">
                    <div class="swiper-wrapper">
                        <article class='swiper-slide slide-single'>
                            <div class='swiper-image'><a href='https://www.chenxingzhou.com/blog/254.html'
                                                         title='李洋博客原创Brieflee主题' target='_blank'><img
                                    src='public/picture/201707131499935528362658.jpg' alt='李洋博客原创Brieflee主题'></a></div>
                            <div class='swiper-post'><h3><a href='https://www.chenxingzhou.com' target='_blank'
                                                            title='欢迎来到陈星州博客网址'>欢迎来到陈星州博客网址</a></h3>
                                <div class='clearfix'></div>
                            </div>
                        </article>
                        <article class='swiper-slide slide-single'>
                            <div class='swiper-image'><a href='https://www.chenxingzhou.com'
                                                         title='李洋博客原创Blacklee主题' target='_blank'><img
                                    src='public/picture/201707111499741356450472.png' alt='欢迎来到陈星州博客网址'></a></div>
                            <div class='swiper-post'>
                                <h3>
                                    <a href='https://www.chenxingzhou.com' target='_blank'
                                                            title='欢迎来到陈星州博客网址'>欢迎来到陈星州博客网址</a>
                                </h3>
                                <div class='clearfix'></div>
                            </div>
                        </article>
                    </div>
                    <div class="swiper-pagination swiper-home-pagination"></div>
                    <div class="swiper-button swiper-home-button-next swiper-button-next"><i
                            class="fa fa-chevron-right"></i></div>
                    <div class="swiper-button swiper-home-button-prev swiper-button-prev"><i
                            class="fa fa-chevron-left"></i></div>
                </div>
            </div>

            <!--广告区域-->
            <!--<div class="ad">-->
            <!--<a href="http://s.click.taobao.com/pqo03Qx" target="_blank"><img-->
            <!--src="public/picture/201707061499321319382694.jpg" alt="阿里云爆款云服务器" title="阿里云爆款云服务器"></a>-->
            <!--</div>-->
            <div class="home_shop">
                <h2><i class="icon-cart-plus"></i><a href="/" class="shop_button" title="查看更多">热门推荐</a></h2>
                <ul>
                    <li>
                        <article class="shop_main">
                            <a href="http://www.chenxingzhou.com/blog/254.html" title="Brieflee主题-把最好的送给你！"
                               rel="bookmark" class="shopthumb"><img src="public/picture/201707071499397681808806.png"
                                                                     alt="Brieflee主题-把最好的送给你！"></a>
                            <h3><a href="http://www.chenxingzhou.com/blog/254.html" title="Brieflee主题-把最好的送给你！">Brieflee主题-把最好的送给你！</a>
                            </h3>
                            <p>简约设计Brieflee响应式主题，完美兼容所有移动设备。模板页介绍：4...</p>
                            <div class="shop_btn">
                                <span class="price">2017-07-07</span><a class="zzxq"
                                                                        href="http://www.chenxingzhou.com/blog/254.html"><i
                                    class="fa fa-chain"></i>查看详情</a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="shop_main">
                            <a href="http://www.chenxingzhou.com/blog/162.html" title="filmlee主题：首款免费zbp主题"
                               rel="bookmark" class="shopthumb"><img src="public/picture/201607154872_4709.jpg"
                                                                     alt="filmlee主题：首款免费zbp主题"></a>
                            <h3><a href="http://www.chenxingzhou.com/blog/162.html" title="filmlee主题：首款免费zbp主题">filmlee主题：首款免费zbp主题</a>
                            </h3>
                            <p>首发filmlee影视主题：本来想制作成影视类型的博客，但是做完才发现很...</p>
                            <div class="shop_btn">
                                <span class="price">2016-07-15</span><a class="zzxq"
                                                                        href="http://www.chenxingzhou.com/blog/162.html"><i
                                    class="fa fa-chain"></i>查看详情</a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="shop_main">
                            <a href="http://www.chenxingzhou.com/blog/155.html"
                               title="zbp响应式两栏黑色风格主题,完美兼容所有移动设备（06/15更新）" rel="bookmark" class="shopthumb"><img
                                    src="public/picture/20170615171504_76486.png" alt="zbp响应式两栏黑色风格主题,完美兼容所有移动设备（06/15更新）"></a>
                            <h3><a href="http://www.chenxingzhou.com/blog/155.html"
                                   title="zbp响应式两栏黑色风格主题,完美兼容所有移动设备（06/15更新）">zbp响应式两栏黑色风格主题,完美兼容所有移动设备（06/15更新）</a>
                            </h3>
                            <p>Blacklee主题主题介绍:最新版本5.0.31主题框架基于boots...</p>
                            <div class="shop_btn">
                                <span class="price">2016-06-24</span><a class="zzxq"
                                                                        href="http://www.chenxingzhou.com/blog/155.html"><i
                                    class="fa fa-chain"></i>查看详情</a>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>


            <div class="content">
                <div class="stylelist">
                    <article class="post" >
                        <div class="post-thumb left">
                            <a href="http://www.chenxingzhou.com/blog/256.html">
                                <img src="public/picture/201707121499838580155031.jpg" alt="七牛云存储批量下载图文教程"></a>
                        </div>
                        <header class="post-head">
                            <h2><a href="http://www.chenxingzhou.com/blog/256.html" title="七牛云存储批量下载图文教程">七牛云存储批量下载图文教程</a>
                            </h2>
                        </header>
                        <div class="excerpt">
                            曾几何时本站博客也一直在启用七牛云储存，包括镜像，这个总体来说还是很好的，我记得当时使用的时候说是可以同事储存文件，到那时偶然间发先，配置好的七牛上传的附件都直接转存在七牛云储存里，本地并没有，而当全站启用HTTPS的时候，发现图片的格式都是http的，所以又重新绑定了七牛的https域名，但是这个...
                        </div>
                        <div class="info">
                            <span class="category"><i class="fa fa-list-alt"></i><a href="http://www.chenxingzhou.com/tech/">新鲜科技</a></span>
                            <span class="date"><i class="fa fa-clock-o"></i>4天前</span>
                            <span class="view"><i class="fa fa-eye"></i>182</span>
                            <span class="comment"><i class="fa fa-comment"></i>1</span>
                            <a class="read-more right" href="http://www.chenxingzhou.com/blog/256.html"
                               title="详细阅读 七牛云存储批量下载图文教程">阅读更多</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-thumb left">
                            <a href="http://www.chenxingzhou.com/blog/255.html">
                                <img src="public/picture/201707111499738179568189.png" alt="快速搭建MIP，体验友好的移动页面"></a>
                        </div>
                        <header class="post-head">
                            <h2><a href="http://www.chenxingzhou.com/blog/255.html" title="快速搭建MIP，体验友好的移动页面">快速搭建MIP，体验友好的移动页面</a>
                            </h2>
                        </header>
                        <div class="excerpt">
                            在读这篇文章之前，请确定你已经了解MIP定义及加速原理。如果不确定的话，可以到MIP官网了解。文章内容来自MIP博客。改造前期准备和注意事项:你可以选择直接将原先的移动站点直接改成MIP站，也可以单独再做一套MIP站点与移动站并存。复杂的页面暂不建议MIP改造，目前对资讯、图文类支持已较好，若功能较...
                        </div>
                        <div class="info">
                            <span class="category"><i class="fa fa-list-alt"></i><a href="http://www.chenxingzhou.com/info/">互联网</a></span>
                            <span class="date"><i class="fa fa-clock-o"></i>5天前</span>
                            <span class="view"><i class="fa fa-eye"></i>232</span>
                            <span class="comment"><i class="fa fa-comment"></i>0</span>
                            <a class="read-more right" href="http://www.chenxingzhou.com/blog/255.html"
                               title="详细阅读 快速搭建MIP，体验友好的移动页面">阅读更多</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-thumb left">
                            <a href="http://www.chenxingzhou.com/blog/254.html">
                                <img src="public/picture/201707071499397681808806.png" alt="Brieflee主题-把最好的送给你！"></a>
                        </div>
                        <header class="post-head">
                            <h2><a href="http://www.chenxingzhou.com/blog/254.html" title="Brieflee主题-把最好的送给你！">Brieflee主题-把最好的送给你！</a>
                            </h2>
                        </header>
                        <div class="excerpt">
                            简约设计Brieflee响应式主题，完美兼容所有移动设备。模板页介绍：404，错误页模板；about，单独页面模板；catalog，分类列表模板；links，友情链接模板；search，搜索页模板；sitemap，文章归档模板（后台新建页面，选择此模板即可，时间轴展示效果）。内容更新：增加网站的Bl...
                        </div>
                        <div class="info">
                            <span class="category"><i class="fa fa-list-alt"></i><a
                                    href="http://www.chenxingzhou.com/zhuti/">主题展示</a></span>
                            <span class="date"><i class="fa fa-clock-o"></i>1周前 (07-07)</span>
                            <span class="view"><i class="fa fa-eye"></i>679</span>
                            <span class="comment"><i class="fa fa-comment"></i>5</span>
                            <a class="read-more right" href="http://www.chenxingzhou.com/blog/254.html"
                               title="详细阅读 Brieflee主题-把最好的送给你！">阅读更多</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-thumb left">
                            <a href="http://www.chenxingzhou.com/blog/252.html">
                                <img src="public/picture/201706201497948988891670.jpg" alt="zblogphp判断用户是否登陆"></a>
                        </div>
                        <header class="post-head">
                            <h2><a href="http://www.chenxingzhou.com/blog/252.html"
                                   title="zblogphp判断用户是否登陆">zblogphp判断用户是否登陆</a></h2>
                        </header>
                        <div class="excerpt">
                            搭建网站模板的时候，有时需要判断用户是否登陆或者判断是否是管理员登陆，这个不属于什么教程，只是偶尔用到了，百度之后看见天兴和烽烟博客有这个教程，把他们来的综合起来做个记录，以备不时之需。判断用户是否登陆{if&nbsp;$user.ID&gt;0}&nbsp;&nbsp;&nbsp;&nbsp;&n...
                        </div>
                        <div class="info">
                            <span class="category"><i class="fa fa-list-alt"></i><a href="http://www.chenxingzhou.com/tech/">新鲜科技</a></span>
                            <span class="date"><i class="fa fa-clock-o"></i>4周前 (06-20)</span>
                            <span class="view"><i class="fa fa-eye"></i>888</span>
                            <span class="comment"><i class="fa fa-comment"></i>4</span>
                            <a class="read-more right" href="http://www.chenxingzhou.com/blog/252.html"
                               title="详细阅读 zblogphp判断用户是否登陆">阅读更多</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-thumb left">
                            <a href="http://www.chenxingzhou.com/blog/252.html">
                                <img src="public/picture/201706201497948988891670.jpg" alt="zblogphp判断用户是否登陆"></a>
                        </div>
                        <header class="post-head">
                            <h2><a href="http://www.chenxingzhou.com/blog/252.html"
                                   title="zblogphp判断用户是否登陆">zblogphp判断用户是否登陆</a></h2>
                        </header>
                        <div class="excerpt">
                            搭建网站模板的时候，有时需要判断用户是否登陆或者判断是否是管理员登陆，这个不属于什么教程，只是偶尔用到了，百度之后看见天兴和烽烟博客有这个教程，把他们来的综合起来做个记录，以备不时之需。判断用户是否登陆{if&nbsp;$user.ID&gt;0}&nbsp;&nbsp;&nbsp;&nbsp;&n...
                        </div>
                        <div class="info">
                            <span class="category"><i class="fa fa-list-alt"></i><a href="http://www.chenxingzhou.com/tech/">新鲜科技</a></span>
                            <span class="date"><i class="fa fa-clock-o"></i>4周前 (06-20)</span>
                            <span class="view"><i class="fa fa-eye"></i>888</span>
                            <span class="comment"><i class="fa fa-comment"></i>4</span>
                            <a class="read-more right" href="http://www.chenxingzhou.com/blog/252.html"
                               title="详细阅读 zblogphp判断用户是否登陆">阅读更多</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-thumb left">
                            <a href="http://www.chenxingzhou.com/blog/252.html">
                                <img src="public/picture/201706201497948988891670.jpg" alt="zblogphp判断用户是否登陆"></a>
                        </div>
                        <header class="post-head">
                            <h2><a href="http://www.chenxingzhou.com/blog/252.html"
                                   title="zblogphp判断用户是否登陆">zblogphp判断用户是否登陆</a></h2>
                        </header>
                        <div class="excerpt">
                            搭建网站模板的时候，有时需要判断用户是否登陆或者判断是否是管理员登陆，这个不属于什么教程，只是偶尔用到了，百度之后看见天兴和烽烟博客有这个教程，把他们来的综合起来做个记录，以备不时之需。判断用户是否登陆{if&nbsp;$user.ID&gt;0}&nbsp;&nbsp;&nbsp;&nbsp;&n...
                        </div>
                        <div class="info">
                            <span class="category"><i class="fa fa-list-alt"></i><a href="http://www.chenxingzhou.com/tech/">新鲜科技</a></span>
                            <span class="date"><i class="fa fa-clock-o"></i>4周前 (06-20)</span>
                            <span class="view"><i class="fa fa-eye"></i>888</span>
                            <span class="comment"><i class="fa fa-comment"></i>4</span>
                            <a class="read-more right" href="http://www.chenxingzhou.com/blog/252.html"
                               title="详细阅读 zblogphp判断用户是否登陆">阅读更多</a>
                        </div>
                    </article>
                    <article class="post wow fadeInDown">
                        <div class="post-thumb left">
                            <a href="http://www.chenxingzhou.com/blog/252.html">
                                <img src="public/picture/201706201497948988891670.jpg" alt="zblogphp判断用户是否登陆"></a>
                        </div>
                        <header class="post-head">
                            <h2><a href="http://www.chenxingzhou.com/blog/252.html"
                                   title="zblogphp判断用户是否登陆">zblogphp判断用户是否登陆</a></h2>
                        </header>
                        <div class="excerpt">
                            搭建网站模板的时候，有时需要判断用户是否登陆或者判断是否是管理员登陆，这个不属于什么教程，只是偶尔用到了，百度之后看见天兴和烽烟博客有这个教程，把他们来的综合起来做个记录，以备不时之需。判断用户是否登陆{if&nbsp;$user.ID&gt;0}&nbsp;&nbsp;&nbsp;&nbsp;&n...
                        </div>
                        <div class="info">
                            <span class="category"><i class="fa fa-list-alt"></i><a href="http://www.chenxingzhou.com/tech/">新鲜科技</a></span>
                            <span class="date"><i class="fa fa-clock-o"></i>4周前 (06-20)</span>
                            <span class="view"><i class="fa fa-eye"></i>888</span>
                            <span class="comment"><i class="fa fa-comment"></i>4</span>
                            <a class="read-more right" href="http://www.chenxingzhou.com/blog/252.html"
                               title="详细阅读 zblogphp判断用户是否登陆">阅读更多</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-thumb left">
                            <a href="http://www.chenxingzhou.com/blog/252.html">
                                <img src="public/picture/201706201497948988891670.jpg" alt="zblogphp判断用户是否登陆"></a>
                        </div>
                        <header class="post-head">
                            <h2><a href="http://www.chenxingzhou.com/blog/252.html"
                                   title="zblogphp判断用户是否登陆">zblogphp判断用户是否登陆</a></h2>
                        </header>
                        <div class="excerpt">
                            搭建网站模板的时候，有时需要判断用户是否登陆或者判断是否是管理员登陆，这个不属于什么教程，只是偶尔用到了，百度之后看见天兴和烽烟博客有这个教程，把他们来的综合起来做个记录，以备不时之需。判断用户是否登陆{if&nbsp;$user.ID&gt;0}&nbsp;&nbsp;&nbsp;&nbsp;&n...
                        </div>
                        <div class="info">
                            <span class="category"><i class="fa fa-list-alt"></i><a href="http://www.chenxingzhou.com/tech/">新鲜科技</a></span>
                            <span class="date"><i class="fa fa-clock-o"></i>4周前 (06-20)</span>
                            <span class="view"><i class="fa fa-eye"></i>888</span>
                            <span class="comment"><i class="fa fa-comment"></i>4</span>
                            <a class="read-more right" href="http://www.chenxingzhou.com/blog/252.html"
                               title="详细阅读 zblogphp判断用户是否登陆">阅读更多</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-thumb left">
                            <a href="http://www.chenxingzhou.com/blog/252.html">
                                <img src="public/picture/201706201497948988891670.jpg" alt="zblogphp判断用户是否登陆"></a>
                        </div>
                        <header class="post-head">
                            <h2><a href="http://www.chenxingzhou.com/blog/252.html"
                                   title="zblogphp判断用户是否登陆">zblogphp判断用户是否登陆</a></h2>
                        </header>
                        <div class="excerpt">
                            搭建网站模板的时候，有时需要判断用户是否登陆或者判断是否是管理员登陆，这个不属于什么教程，只是偶尔用到了，百度之后看见天兴和烽烟博客有这个教程，把他们来的综合起来做个记录，以备不时之需。判断用户是否登陆{if&nbsp;$user.ID&gt;0}&nbsp;&nbsp;&nbsp;&nbsp;&n...
                        </div>
                        <div class="info">
                            <span class="category"><i class="fa fa-list-alt"></i><a href="http://www.chenxingzhou.com/tech/">新鲜科技</a></span>
                            <span class="date"><i class="fa fa-clock-o"></i>4周前 (06-20)</span>
                            <span class="view"><i class="fa fa-eye"></i>888</span>
                            <span class="comment"><i class="fa fa-comment"></i>4</span>
                            <a class="read-more right" href="http://www.chenxingzhou.com/blog/252.html"
                               title="详细阅读 zblogphp判断用户是否登陆">阅读更多</a>
                        </div>
                    </article>
                    <article class="post">
                        <div class="post-thumb left">
                            <a href="http://www.chenxingzhou.com/blog/252.html">
                                <img src="public/picture/201706201497948988891670.jpg" alt="zblogphp判断用户是否登陆"></a>
                        </div>
                        <header class="post-head">
                            <h2><a href="http://www.chenxingzhou.com/blog/252.html"
                                   title="zblogphp判断用户是否登陆">zblogphp判断用户是否登陆</a></h2>
                        </header>
                        <div class="excerpt">
                            搭建网站模板的时候，有时需要判断用户是否登陆或者判断是否是管理员登陆，这个不属于什么教程，只是偶尔用到了，百度之后看见天兴和烽烟博客有这个教程，把他们来的综合起来做个记录，以备不时之需。判断用户是否登陆{if&nbsp;$user.ID&gt;0}&nbsp;&nbsp;&nbsp;&nbsp;&n...
                        </div>
                        <div class="info">
                            <span class="category"><i class="fa fa-list-alt"></i><a href="http://www.chenxingzhou.com/tech/">新鲜科技</a></span>
                            <span class="date"><i class="fa fa-clock-o"></i>4周前 (06-20)</span>
                            <span class="view"><i class="fa fa-eye"></i>888</span>
                            <span class="comment"><i class="fa fa-comment"></i>4</span>
                            <a class="read-more right" href="http://www.chenxingzhou.com/blog/252.html"
                               title="详细阅读 zblogphp判断用户是否登陆">阅读更多</a>
                        </div>
                    </article>
                </div>

                <!--广告位-->
                <!--<div class="ad">-->
                <!--<a href="http://s.click.taobao.com/pqo03Qx" target="_blank"><img-->
                <!--src="public/picture/201707061499321319382694.jpg" alt="阿里云爆款云服务器" title="阿里云爆款云服务器"></a>-->
                <!--</div>-->

                <!--广告区域-->
                <!--<div class="ad">-->
                <!--<a href="http://s.click.taobao.com/pqo03Qx" target="_blank"><img-->
                <!--src="public/picture/201707061499321319382694.jpg" alt="阿里云爆款云服务器" title="阿里云爆款云服务器"></a>-->
                <!--</div>-->



            </div>
        </div>

        {% include "aside.html" %}

    </div>
</div>
{% include "footer.html" %}

