<!--layout.html 是一个模板，这里继承这个模板-->
{% extends 'layout.html' %}

<!--覆写main这个block区块-->
{% block main%}
<ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li><span>成功提示</span></li>
</ol>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">错误提示</h3>
    </div>
    <div class="panel-body">
        {{message}}
    </div>
    <div class="panel-footer">
        <a href="/admin/{{url}}">点击跳转</a>
    </div>
</div>


{% endblock%}

